#root {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 98vw;
    height: 98vh;
}

.container {
    display: flex;
    flex-direction: column;

    border: 1px solid black;
    padding: 10px;
}

.board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.line {
    display: flex;
    gap: 5px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border: 1px solid black;
    text-transform: uppercase;
}

.correct {
    background-color: lightgreen;
}

.close {
    background-color: tan;
}

.incorrect {
    background-color: grey;
}